.navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  ul {
    text-align: center;
    li {
      text-decoration: none;
    }
    a {
      color: white;
      text-decoration: none;
      &:hover {
      }
    }
  }
}
