* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: white;
}

// .container {
//   // margin-left: 160px;
//   display: grid;
//   position: sticky;
// }

.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  position: sticky;
}

.div1 {
  grid-area: 1 / 1 / 6 / 2;
  background-color: #5800ff;
  position: fixed;
  height: 100vh;
}

.div2 {
  grid-area: 1 / 2 / 6 / 6;
  background-color: white;
}

.div3 {
  grid-area: 1 / 6 / 6 / 9;
  background-color: #00ffdd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  width: 30%;
}
